<form class="form-group" action="/admin/ordem" method="GET">
    {{!-- Dados do cliente --}}
    <div class="d-flex">
        <hr class="my-auto flex-grow-1">
        <div class="px-4 text-secondary">NOVO CLIENTE<strong>{{id}}</strong></div>
        <hr class="my-auto flex-grow-1">
    </div>

    <div class="form-row mb-2">
        <div class="col-md-8">
            <label for="cliente">Cliente</label>
            <input type="text" class="form-control" id="cliente" placeholder="Nome do cliente" value="">
        </div>
        <div class="col-md-4">
            <label for="data">Data de Entrada</label>
            <input type="datetime-local" class="form-control" id="data">
        </div>
    </div>


    {{!-- Telefone --}}
    <div class="form-group mb-2">
        <div class="form-row">
            <label for="peca">Telefone <span id="qtdPeca" class="badge badge-dark ml-1">0</span></label>
            <div class="input-group mb-1">
                <input type="text" name="listaPeca" id="listaPeca" hidden> 
                <input type="text" class="form-control" placeholder="Telefone"
                    aria-label="Nome e modelo da peça" id="peca" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <input type="button" class="btn btn-primary" id="button-addon2" onclick="add()"
                        value=" + adicionar">
                </div>
            </div>
        </div>

    </div>
        
        {{!-- tags peças --}}
    <div class="form-group">
        <div id="addPeca"></div>
    </div>

    <div class="form-row mb-2">
        <div class="col-md-4">
            <label for="cpf">CPF/CNPJ</label>
            <input type="number" class="form-control" id="cpf" name="cpf" placeholder="000.111.222-99">
        </div>
        <div class="col-md-3">
            <label for="insEst">Inscrição Estatual</label>
            <input type="text" class="form-control" id="insEst" name="insEst" placeholder="" value="">
        </div>
        <div class="col-md-5">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="nome@email.com" value="">
        </div>

    </div>




    <div class="d-flex mt-5">
        <hr class="my-auto flex-grow-1">
        <div class="px-4 text-secondary">ENDEREÇO</div>
        <hr class="my-auto flex-grow-1">
    </div>

    <div class="form-row mb-2">
        <div class="col-md-2">
            <label for="cep">CEP</label>
            <input type="number" class="form-control" id="cep" name="cep" placeholder="00000-000" onblur="pesquisacep(this.value)">
        </div>
        <div class="col-md-8">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" placeholder="Nome da rua" value="">
        </div>
        <div class="col-md-2">
            <label for="numero">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" placeholder="Número" value="">
        </div>

    </div>
    {{!-- Complemento --}}
    <div class="form-row mb-2">
        <div class="col-md-9">
                <label for="complemento">Complemento</label>
                <input type="number" class="form-control" id="complemento" name="complemento" placeholder="BL 1 C 2" >
            </div>
            <div class="col-md-3">
                <label for="referencia">Referência</label>
                <input type="text" class="form-control" id="referencia" name="referencia" placeholder="Perto do mercado Sonic" value="">
        </div>
    </div>
    <div class="form-row mb-5">
        <div class="col-md-5">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Nome do bairro" >
        </div>
        <div class="col-md-5">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Nome da cidade" value="">
        </div>
        <div class="col-md-2">
            <label for="uf">UF</label>
            <input type="text" class="form-control" id="uf" name="uf" placeholder="Estado" value="">
        </div>
    </div>


    <div class="form-group text-right">
        <div><button class="btn btn-block btn-primary mb-2" type="submit"> Salvar </button></div>
    </div>
    {{!-- rodapé --}}
    <footer class=" pt-5 text-muted text-center text-small">
        <p class="mb-1">Novo cadastro de cliente</p>
    </footer>
</form>


{{!-- Javascript controle de peças  --}}
<script src="/myJs/lista.js"></script>
<script src="/myJs/pesquisaCEP.js"></script>
<script>
    
    //----------------- PEGA DATA ------------------------
    var data = document.getElementById('data');
   
    var dataAtual = new Date().toISOString();
    dataAtual = dataAtual.substr(0, dataAtual.length-8)
    data.value = dataAtual

    



</script>