  <!-- Header -->
  <header class="w3-container w3-theme w3-large w3-padding-24 w3-margin-bottom">
    <a href="/" class="w3-left w3-xlarge" style="text-decoration: none;">ELETRÔNICA ALFA</a>
    <a href="/login" class="w3-right w3-small" style="text-decoration: none;">
        <i class='fa fa-key' style='font-size:16px'></i> Área restrita
        </a>
  </header>

<div class="w3-row-padding w3-center w3-margin-top">
    <a href="/altair">
        <div class="w3-third w3-margin-top" style="cursor: pointer;">
            <div class="w3-card w3-container" style="min-height:360px">
                <h3>Altair</h3><br>
                <i class="fa fa-desktop w3-margin-bottom" style="font-size:120px; color: #2196F3"></i>
                <p>Clique para acessar sua página</p>
                <p>Controle suas OS em tempo real</p>
            </div>
        </div>
    </a>
    <a href="/andre">
        <div class="w3-third w3-margin-top" style="cursor: pointer;">
            <div class="w3-card w3-container" style="min-height:360px">
                <h3>André</h3><br>
                <i class="fa fa-desktop w3-margin-bottom" style="font-size:120px; color: #2196F3"></i>
                <p>Clique para acessar sua página</p>
                <p>Controle suas OS em tempo real</p>
            </div>
        </div>
    </a>
    <a href="/jorge">
        <div class="w3-third w3-margin-top" style="cursor: pointer;">
            <div class="w3-card w3-container" style="min-height:360px">
                <h3>Jorge</h3><br>
                <i class="fa fa-desktop w3-margin-bottom" style="font-size:120px; color: #2196F3"></i>
                <p>Clique para acessar sua página</p>
                <p>Controle suas OS em tempo real</p>
            </div>
        </div>
    </a>

</div>